h1{
   color:blueviolet;}
img{
   width:400px}
#thirdDiv{
   width:500px;
   height:600px;
   background-color:blue;
   padding:50px;
   border: 1rem solid-blue;}
#spanId{
   font-size:18px;
   border:50px;}
